################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HotelGuru/.vs/HotelGuru
/.vs/rendszerfejlesztes/FileContentIndex/33cca8bc-5b52-4e41-ac16-957adf6c440a.vsidx
/.vs/rendszerfejlesztes/FileContentIndex
